In [8]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('database.db')

# Query all rows from the sensor_data table and load them into a Pandas DataFrame
df_sensor_data = pd.read_sql_query('SELECT * FROM sensor_data', conn)

df_sensor_data  # This will display the DataFrame in a tabular format in Jupyter notebook

Empty DataFrame
Columns: [timestamp, day_of_week, hour, l1, l2, l3, t1, t2, t3]
Index: []

In [9]:
# Query all rows from the sensors table and load them into a Pandas DataFrame
df_sensor = pd.read_sql_query('SELECT * FROM sensors', conn)
df_sensor

,id,client_id,name,catagory,last_val
0,2a01b913-ba0d-47ff-879a-94ce3ec6d11a,S-2025.04.19-21.09-0001,LivingRoom Thermostat,sensor,100
1,7dbc772a-8e68-4c60-90f0-ddf4a8e73786,L-2025.04.19-21.09-0003,LivingRoom L1,light,0
2,09836319-246f-4642-972c-5bd354843fec,D-2025.04.19-21.09-0003,Font Door,door,1
3,1e0d3a81-3025-4d5c-90df-152ce5b3862c,SW-2025.04.19-21.09-0001,LivingRoom TV,switch,0

In [10]:
df_sensor.columns

Index(['id', 'client_id', 'name', 'catagory', 'last_val'], dtype='object')

In [11]:
# Close the connection
conn.close()