In [1]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('database.db')

# Query all rows from the sensor_data table and load them into a Pandas DataFrame
df_sensor_data = pd.read_sql_query('SELECT * FROM sensor_data', conn)

df_sensor_data  # This will display the DataFrame in a tabular format in Jupyter notebook

                                 sensor_id            timestamp  sensor_value
0     8e34ae62-aaf6-48dc-a471-0a7ffd5fdbb7  2025-05-03 20:00:00          2.00
1     c93eb1b1-46ab-4539-8601-b41406d25dfe  2025-05-03 20:00:00          1.00
2     64c292ac-69c8-4d0e-b86d-a88d31e1df68  2025-05-03 20:00:00          3.00
3     2e0d97e0-53f0-479c-822f-30f1c0bb42c5  2025-05-03 20:00:00          1.00
4     c4227df9-6443-45d5-a586-c261efb6281e  2025-05-03 20:00:00          0.00
...                                    ...                  ...           ...
8215  f6da0f7c-2b70-4c39-81f0-3ee49bfb3d9c  2025-05-04 01:17:58          2.00
8216  ea020d48-35ec-4ce7-aa2f-a7056830b3ff  2025-05-04 01:17:58         20.21
8217  bd581e55-7d0f-43af-8a49-0d6f7a333bd0  2025-05-04 01:17:58         21.12
8218  bf2c6cc8-2a0d-4f31-85c7-b53cf375e3a3  2025-05-04 01:17:58         18.11
8219  b8f72857-cd1a-4f72-b094-d6753b46b3b8  2025-05-04 01:17:58         17.50

[8220 rows x 3 columns]

In [2]:
# Query all rows from the sensors table and load them into a Pandas DataFrame
df_sensor = pd.read_sql_query('SELECT * FROM sensors', conn)
df_sensor

,id,client_id,name,catagory,last_val
0,8e34ae62-aaf6-48dc-a471-0a7ffd5fdbb7,L-2025.04.19-21.09-0001,l1,light,None
1,c93eb1b1-46ab-4539-8601-b41406d25dfe,L-2025.04.19-21.09-0002,l2,light,None
2,64c292ac-69c8-4d0e-b86d-a88d31e1df68,L-2025.04.19-21.09-0003,l3,light,None
3,2e0d97e0-53f0-479c-822f-30f1c0bb42c5,L-2025.04.19-21.09-0004,l4,light,None
4,c4227df9-6443-45d5-a586-c261efb6281e,L-2025.04.19-21.09-0005,l5,light,None
5,95154df7-5c64-43a9-9554-6209c4efe6b2,L-2025.04.19-21.09-0006,l6,light,None
6,97b49a77-a4ba-4c08-b773-e6da9b8723bd,L-2025.04.19-21.09-0007,l7,light,None
7,f6da0f7c-2b70-4c39-81f0-3ee49bfb3d9c,L-2025.04.19-21.09-0008,l8,light,None
8,ea020d48-35ec-4ce7-aa2f-a7056830b3ff,T-2025.04.19-21.09-0001,t1,temp,None
9,bd581e55-7d0f-43af-8a49-0d6f7a333bd0,T-2025.04.19-21.09-0002,t2,temp,None
10,bf2c6cc8-2a0d-4f31-85c7-b53cf375e3a3,T-2025.04.19-21.09-0003,t3,temp,None
11,b8f72857-cd1a-4f72-b094-d6753b46b3b8,T-2025.04.19-21.09-0004,t4,temp,None
12,fd4238d2-1e5f-423f-96d8-c40690f566cc,D-2025.04.19-21.09-0001,Front Door,door,None
13,95ab5aa5-b2b8-4d3c-810b-f598c993ed6d,SW-2025.04.19-21.09-0001,LivingRoom TV,switch,None

In [3]:
# Write and run the SQL query
df_sensor_data_with_names = pd.read_sql_query("""
    SELECT 
        sensors.name AS sensor_name,
        sensor_data.timestamp,
        sensor_data.sensor_value
    FROM sensor_data
    JOIN sensors ON sensors.id = sensor_data.sensor_id
    ORDER BY sensor_data.timestamp
""", conn)

df_sensor_data_with_names

     sensor_name            timestamp  sensor_value
0             l1  2025-04-26 20:15:00          3.00
1             l2  2025-04-26 20:15:00          2.00
2             l3  2025-04-26 20:15:00          2.00
3             l4  2025-04-26 20:15:00          0.00
4             l5  2025-04-26 20:15:00          2.00
...          ...                  ...           ...
8215          l8  2025-05-04 01:17:58          2.00
8216          t1  2025-05-04 01:17:58         20.21
8217          t2  2025-05-04 01:17:58         21.12
8218          t3  2025-05-04 01:17:58         18.11
8219          t4  2025-05-04 01:17:58         17.50

[8220 rows x 3 columns]

In [4]:
# Close the connection
conn.close()