In [3]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('database1.db')

# Query all rows from the sensor_data table and load them into a Pandas DataFrame
df = pd.read_sql_query('SELECT * FROM sensor_data', conn)

df  # This will display the DataFrame in a tabular format in Jupyter notebook

     sensor_id            timestamp name  sensor_value
0          101  2025-04-20 14:00:00   l1          0.00
1          102  2025-04-20 14:00:00   l2          1.00
2          103  2025-04-20 14:00:00   l3          0.00
3          104  2025-04-20 14:00:00   t1         23.51
4          105  2025-04-20 14:00:00   t2         14.14
...        ...                  ...  ...           ...
4027       102  2025-04-13 14:15:00   l2          1.00
4028       103  2025-04-13 14:15:00   l3          0.00
4029       104  2025-04-13 14:15:00   t1         22.73
4030       105  2025-04-13 14:15:00   t2         29.72
4031       106  2025-04-13 14:15:00   t3         29.44

[4032 rows x 4 columns]

In [14]:
# Close the connection
conn.close()