In [11]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('database.db')

# Query all rows from the sensor_data table and load them into a Pandas DataFrame
df_sensor_data = pd.read_sql_query('SELECT * FROM sensor_data', conn)

df_sensor_data  # This will display the DataFrame in a tabular format in Jupyter notebook

                                  sensor_id            timestamp  sensor_value
0      670e7c63-53ae-4be0-a91c-c1c44ecdabfe  2025-05-05 00:00:00           1.0
1      eed6acf9-b3bd-427f-a339-028db3273c00  2025-05-05 00:00:00           0.0
2      e7ee0603-00ad-4129-992e-920c04069e3b  2025-05-05 00:00:00           0.0
3      b306e0e4-11cd-42ab-8d76-4dd099c0bbe1  2025-05-05 00:00:00           0.0
4      201dda15-ca35-42cc-9c49-4360e6f14ac9  2025-05-05 00:00:00           2.0
...                                     ...                  ...           ...
13435  39006a26-814f-402a-8717-50a0075b977c  2025-04-28 00:15:00           0.0
13436  ebd76a39-512c-457a-961a-d3a5d0c568c8  2025-04-28 00:15:00           0.0
13437  30107e00-4f5e-4dfd-8d84-ffcb5eb2dafe  2025-04-28 00:15:00           0.0
13438  a8ce15dc-805e-42f8-a28f-ab7355ab30e1  2025-04-28 00:15:00           0.0
13439  59906b2f-db68-401a-83f9-f794ff28b0cb  2025-04-28 00:15:00           1.0

[13440 rows x 3 columns]

In [12]:
# Query all rows from the sensors table and load them into a Pandas DataFrame
df_sensor = pd.read_sql_query('SELECT * FROM sensors', conn)
df_sensor

,id,client_id,name,catagory,last_val
0,670e7c63-53ae-4be0-a91c-c1c44ecdabfe,L-2025.04.19-21.09-0001,l1,light,None
1,eed6acf9-b3bd-427f-a339-028db3273c00,L-2025.04.19-21.09-0002,l2,light,None
2,e7ee0603-00ad-4129-992e-920c04069e3b,L-2025.04.19-21.09-0003,l3,light,None
3,b306e0e4-11cd-42ab-8d76-4dd099c0bbe1,L-2025.04.19-21.09-0004,l4,light,None
4,201dda15-ca35-42cc-9c49-4360e6f14ac9,L-2025.04.19-21.09-0005,l5,light,None
5,4daecd03-6887-4e3e-94d0-8b09acce1215,L-2025.04.19-21.09-0006,l6,light,None
6,f9626555-48eb-4068-8262-6cf9d0863077,L-2025.04.19-21.09-0007,l7,light,None
7,811a7de3-8138-4e97-836f-6030b7c9648e,L-2025.04.19-21.09-0008,l8,light,None
8,a5467d9b-addd-4cde-8ff5-ff4f6e299ea4,T-2025.04.19-21.09-0001,t1,temp,None
9,4d5b5dc8-18d6-4d42-915c-616a265b7740,T-2025.04.19-21.09-0002,t2,temp,None
10,fed2c939-3d5c-4d1b-a9eb-77b97c0e46e6,T-2025.04.19-21.09-0003,t3,temp,None
11,30b551e7-5b11-43dc-aa37-5ec1ba65cbf0,T-2025.04.19-21.09-0004,t4,temp,None
12,4787c65b-cb87-49a8-a39b-ab88c687b253,R-2025.04.19-21.09-0001,r1,radar,None
13,1caa5494-89df-464e-9eee-1c1da4f1af2f,R-2025.04.19-21.09-0002,r2,radar,None
14,f91bf5df-bdd8-4a70-ae5e-5799610e791d,R-2025.04.19-21.09-0003,r3,radar,None
15,39006a26-814f-402a-8717-50a0075b977c,R-2025.04.19-21.09-0004,r4,radar,None
16,ebd76a39-512c-457a-961a-d3a5d0c568c8,R-2025.04.19-21.09-0005,r5,radar,None
17,30107e00-4f5e-4dfd-8d84-ffcb5eb2dafe,R-2025.04.19-21.09-0006,r6,radar,None
18,a8ce15dc-805e-42f8-a28f-ab7355ab30e1,R-2025.04.19-21.09-0007,r7,radar,None
19,59906b2f-db68-401a-83f9-f794ff28b0cb,R-2025.04.19-21.09-0008,r8,radar,None
20,995a9bf5-a871-45b6-a563-7ceda697d1dc,D-2025.04.19-21.09-0001,Front Door,door,None
21,e1a9c854-104f-427b-954e-618d7097e574,SW-2025.04.19-21.09-0001,LivingRoom TV,switch,None

In [13]:
# Write and run the SQL query
df_sensor_data_with_names = pd.read_sql_query("""
    SELECT 
        sensors.name AS sensor_name,
        sensor_data.timestamp,
        sensor_data.sensor_value
    FROM sensor_data
    JOIN sensors ON sensors.id = sensor_data.sensor_id
    ORDER BY sensor_data.timestamp
""", conn)

df_sensor_data_with_names

      sensor_name            timestamp  sensor_value
0              l1  2025-04-28 00:15:00           1.0
1              l2  2025-04-28 00:15:00           1.0
2              l3  2025-04-28 00:15:00           3.0
3              l4  2025-04-28 00:15:00           1.0
4              l5  2025-04-28 00:15:00           2.0
...           ...                  ...           ...
13435          r4  2025-05-05 00:00:00           1.0
13436          r5  2025-05-05 00:00:00           0.0
13437          r6  2025-05-05 00:00:00           0.0
13438          r7  2025-05-05 00:00:00           0.0
13439          r8  2025-05-05 00:00:00           1.0

[13440 rows x 3 columns]

In [14]:
# Query all predictions
df_predictions = pd.read_sql_query('SELECT * FROM predictions', conn)

df_predictions

Empty DataFrame
Columns: [id, timestamp, sensor_name, predicted_value, category]
Index: []

In [15]:
# Close the connection
conn.close()